[submodule "xilinx/libsystemctlm-soc"]
	path = soc-env/libsystemctlm-soc
	url = https://github.com/Xilinx/libsystemctlm-soc
	branch = master
    ignore = all
[submodule "libcereal"]
	path = soc-env/libcereal
	url = https://github.com/USCilab/cereal
	branch = master
