[submodule "xilinx/libsystemctlm-soc"]
	path = soc-env/libsystemctlm-soc
	url = https://github.com/Xilinx/libsystemctlm-soc
	branch = master
    ignore = all
[submodule "libcereal"]
	path = soc-env/libcereal
	url = https://github.com/USCilab/cereal
	branch = master
[submodule "qemu-xlnx"]
	path = qemu-env/qemu-xlnx
	url = https://github.com/Xilinx/qemu
	branch = de453ab4cf993f63de502c4efd8a08a347c3b164
    ignore = all
